<div class="offer">
  <% if @article.photo.attached? %>
      <%= cl_image_tag @article.photo.key, width: 400, height: 300, crop: :fill %>
  <% end %>
  <div class="title box">
    <h1>
      <%= @article.title %>
    </h1>
    <p>Ein Beitrag von <%= @article.user.email %></p>
  </div>
  <div class="description box">
    <%=  @article.content %>
  </div>
    <h2>Angbote des Verfassers</h2>
  <div class="angebote">
    <% @offers.each do |offer| %>
      <div class="liste">
      <% if offer.photo.attached? %>
        <%= cl_image_tag offer.photo.key, width: 400, height: 300, crop: :fill %>
       <% end %>
      <h2><%= offer.title %></h2>
      <p>
        <%= offer.description %>
      </p>
    </div>
    <% end %>
  </div>
</div>
