<div class="site">
  <div class="topics-info-text ">
    <h3 class="sprechblase_unten">Hier gibt es die aktuellsten Nachrichten <br> über die Angebote aus deiner Umbegbung </h3>
  </div>
  <div class="article">
    <% @articles.each do |article| %>
      <%= link_to article_path(article), class: "text" do%>
        <div class="article_card <%= article.id % 2 == 0 ? '' : 'article_card_left' %>">
          <% if article.photo.attached? %>
            <div class="article_photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path article.photo.key %>')">
            </div>
            <% else %>
            <div class="article_photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1645976417695-e76bf772b1bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80')"></div>
          <% end %>
          <div class="article_card_text">
            <h3><%= article.title %></h3>
            <p>von <%= User.find(article.user_id).email %> | <%= article.created_at.to_date.strftime("%d-%m-%Y")%> </p>
            <p><%= article.content.truncate(50)%></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
