<div class="container">
<div class="cardListArticles">
    <div class="cardOffer header one">
      <h4  class="cardTitle header">
        Titel
      </h4>
      <h4 class="header">
        Author
      </h4>
      <h4 class="header">
        Datum
      </h4>
      <div class="buttons header">
        <h4>
          Löschen
        </h4>
      </div>
    </div>
    <% @articles.each do |article| %>
    <div class="cardOffer">
    <strong  class="cardTitle">
      <%= link_to article.title, article_path(article), class: "cardTitle" %>
    </strong>
    <div class="">
      <%= article.user.email %>
    </div>
    <div class="">
     <%= article.created_at.to_date.strftime("%d-%m-%Y") %>
    </div>
    <div class="buttons">
      <%= link_to "Löschen", article_path(article),class: "btn btn-info", data: {
        turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
    </div>
  </div>
  <% end %>
</div>
<% if current_user.role == "institution" || current_user.role == "admin" %>
  <div class="new-article-link d-flex justify-flex-start">
    <%= link_to "Neuer Post", new_article_path, class: "shiny_green" %>
  </div>
<% end %>
</div>
<!--
<%= render "articles" %>
-->
