<div class="offer">
  <% if @article.photo.attached? %>
  <div class="image" style="background-image: url('<%= cl_image_path @article.photo.key %>')"></div>
  <% else %>
  <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1645976417695-e76bf772b1bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80')"></div>
  <% end %>
  <div class="title box">
    <h1>
      <%= @article.title %>
    </h1>
    <div class="flex">
    <p>Ein Beitrag von <%= @article.user.email %></p>
    <div>
        <% if user_signed_in? && (current_user.role == "admin" || current_user.role == "institution") %>
          <%= link_to "Destroy", article_path(@article), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
            },
            class:"btn btn-info" %>
          <%= link_to "Edit", edit_article_path(@article), data: {
            turbo_method: :edit
            },
            class:"btn btn-info" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="description box">
    <%=  @article.content %>
  </div>
    <h2>Angbote des Autors</h2>
    <div class="liste">
      <% @offers.each do |offer| %>
      <%= link_to offer_path(offer), class: "text" do%>
          <div class="post_card_two" style="width: 100%;">
            <% if offer.photo.attached? %>
              <div class="post_photo_two" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path offer.photo.key %>')">
              </div>
              <% else %>
              <div class="post_photo_two" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1645976417695-e76bf772b1bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80')"></div>
            <% end %>
            <div class="post_card_text">
              <h3><%= offer.title %></h3>
              <p>von <%= User.find(offer.user_id).email %> | <%= offer.created_at.to_date.strftime("%d-%m-%Y")%> </p>
              <h6><%= offer.description.truncate(50)%></h6>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>
