<div class="entdecken-header">
  <h3 class="sprechblase_unten" style="text-align: center;">
    Zum Thema <%= @topic.title %> habe wir folgende Bereiche 👇
  </h3>
</div>

<div class="category-cards-container" id="category-cards-container">
  <div class="topic-card-container">
    <% @categories.each do |category| %>
      <div class="topic-card topic-school-card" id="category-card">
        <% if category.photo.attached? %>
          <div class="topic-card-box" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path category.photo.key %>')" >
            <div class="topic-card-box-content">
              <%# <h2>1</h2> %>
              <h3><%= category.title %></h3>
              <!--
              <p>Stress in der Schule? Oder nicht genug Stress? Hier findest du alles rund um's Thema lernen!</p>
              -->
              <%= link_to "Weiter", topic_category_path(category) %>
            </div>
          </div>
        <% else %>
          <div class="topic-card-box" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://cdn.pixabay.com/photo/2016/06/02/02/33/triangles-1430105__480.png')" >
            <div class="topic-card-box-content">
              <%# <h2>1</h2> %>
              <h3><%= category.title %></h3>
              <!--
              <p>Stress in der Schule? Oder nicht genug Stress? Hier findest du alles rund um's Thema lernen!</p>
              -->
              <%= link_to "Weiter", topic_category_path(category) %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div class="d-flex justify-content-center">
  <%= link_to 'Back', 'javascript:history.back()', class: "shiny_blue", style: "margin-top: 50px;" %>
</div>
<div class="puffer"></div>
