<!-- Slider main container -->
<div class="swiper" >
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper swiper-lazy">
    <!-- Slides -->

      <% @offers.each do |offer| %>
        <div class="swiper-slide">
          <div class="offer-card-container home">
            <% if offer.photo.attached? %>
              <div class="offer-card-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path offer.photo.key %>')">
                <div class="offer-card-heading">
                  <h4><%= offer.title %></h4>
                  <p><%= offer.user.email %> / <%= offer.full_address %></p>
                  <%= link_to offer_path(offer) do %>
                    <div class="offer-card-button"><h3>C L I C K</h3></div>
                  <% end %>
                </div>
              </div>
            <% else %>
              <div class="offer-card-photo swiper-lazy" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1645976417695-e76bf772b1bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80')">
                <div class="offer-card-heading">
                  <h4><%= offer.title %></h4>
                  <p><%= offer.user.email %> / <%= offer.full_address %></p>
                  <%= link_to offer_path(offer) do %>
                    <div class="offer-card-button"><h3>C L I C K</h3></div>
                  <% end %>
                </div>
              </div>
            <% end %>
              <div class="offer-card-text">
                <p><%= offer.description.truncate(50) %></p>
              </div>
            </div>
          </div>
        <% end %>

    <div class="swiper-slide "><%= link_to topics_path, class:'last-slide' do%>
      <h1>weitere Angebote</h1>
      <% end %>
    </div>



  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>
