<%= turbo_frame_tag "offer" do %>
<div class="container mx-auto mt-5">
  <h1 class="text-center ">Angebot bearbeiten</h1>
  <div class="offer_form mt-5">
  <%= simple_form_for @offer do |f| %>
    <%= f.input :title, placeholder: 'title' %>
    <%= f.input :description, placeholder: 'description' %>
    <%= f.input :about_us, placeholder: 'about_us' %>
    <%= f.input :email, placeholder: 'email' %>
    <%= f.input :address, placeholder: 'address' %>
    <%= f.input :town, placeholder: 'ort' %>
    <%= f.input :postcode, placeholder: 'postcode' %>
    <div data-controller="preview">
      <%= f.label "Add a Picture" %>
      <%= f.input :photo, as: :file, input_html: { id:'inpFile'}, data: { action:"change->preview#connect"} %>
       <div class="image-preview" id="image-preview">
          <img src="" alt="image preview" class="image-preview__image">
       <span class="image-preview__default-text">Image Preview</span>
        </div>
    </div>
    <%= f.submit class: "btn btn-dark" %>

  <% end %>
  </div>
</div>
<%= link_to "back",  offer_path(@offer) %>
<% end %>
