<h1>Offers#edit</h1>
<p>Find me in app/views/offers/edit.html.erb</p>

<div class="container">
  <div class="offer_form">
  <%= simple_form_for @offer do |f| %>
    <%= f.input :title, placeholder: 'title' %>
    <%= f.input :description, placeholder: 'description' %>
    <%= f.input :about_us, placeholder: 'about_us' %>
    <%= f.input :email, placeholder: 'email' %>
    <%= f.input :address, placeholder: 'address' %>
    <%= f.input :town, placeholder: 'ort' %>
    <%= f.input :postcode, placeholder: 'postcode' %>
    <%= f.submit class: "btn btn-dark" %>
  <% end %>
  </div>
</div>
