<div class="container">
  <div class="offer_form">
  <%= simple_form_for @offer do |f| %>
    <%= f.input :title, placeholder: 'title' %>
    <%= f.input :description, placeholder: 'description' %>
    <%= f.input :about_us, placeholder: 'about_us' %>
    <%= f.input :email, placeholder: 'email' %>
    <%= f.input :phone, placeholder: 'phone' %>
    <%= f.input :address, placeholder: 'address' %>
    <%= f.input :town, placeholder: 'ort' %>
    <%= f.input :postcode, placeholder: 'postcode' %>
    <div class="categories-choice-div" data-controller="category-button">
      <h4>Bitte wählen Sie ein Thema aus (*)</h4>
      <div class="category-choice-buttons-container">
        <button class="btn btn-danger"
          data-action="click->category-button#enableone"
          data-category-button-target="choicebuttonone"
          >Schule
        </button>
        <button class="btn btn-info"
          data-action="click->category-button#enabletwo"
          data-category-button-target="choicebuttontwo"
          >Freizeit
        </button>
        <button class="btn btn-success"
          data-action="click->category-button#enablethree"
          data-category-button-target="choicebuttonthree"
          >Ausbildung
        </button>
        <button class="btn btn-dark"
          data-action="click->category-button#enablefour"
          data-category-button-target="choicebuttonfour"
          >Jugenhilfe
        </button>
      </div>
      <div class="category-choice-container" data-category-button-target="choicecontainer">
        <div class="disable categories-choice-one categories-choice-container" data-category-button-target="one">
          <%= f.label "Wähle eine oder mehrere Kategorien" %>
          <%= f.association :categories, collection: Category.where(topic_id: 1), as: :check_boxes, label: false, input_html: { class: "categories-choice-field" } %>
        </div>
        <br>
        <div class="disable categories-choice-two categories-choice-container" data-category-button-target="two">
          <%= f.label "Wähle eine oder mehrere Kategorien" %>
          <%= f.association :categories, collection: Category.where(topic_id: 2), as: :check_boxes, label: false, input_html: { class: "categories-choice-field" } %>
        </div>
        <br>
        <div class="disable categories-choice-three categories-choice-container" data-category-button-target="three">
          <%= f.label "Wähle eine oder mehrere Kategorien" %>
          <%= f.association :categories, collection: Category.where(topic_id: 3), as: :check_boxes, label: false, input_html: { class: "categories-choice-field" } %>
        </div>
        <br>
        <div class="disable categories-choice-four categories-choice-container" data-category-button-target="four">
          <%= f.label "Wähle eine oder mehrere Kategorien" %>
          <%= f.association :categories, collection: Category.where(topic_id: 4), as: :check_boxes, label: false, input_html: { class: "categories-choice-field" } %>
        </div>
      </div>
    </div>
    <br>

      <br>
    <%#= f.association :categories, as: :check_boxes , label_method: :title, value_method: :title, include_blank: false %>
    <%#= f.input :category_ids, as: :check_boxes, collection: @categories, label_method: :title, value_method: :id %>
    <%# f.association :topics, as: :check_boxes, input_html: { multiple: true }, include_hidden: :false, input_html: { class:"tag-selector-offer" }, :item_wrapper_class => 'category-wrapper' %>
    <%= f.label "Add a Picture" %>
    <%= f.input :photo, as: :file, label: false %>
    <%= f.submit class: "btn btn-dark" %>
  <% end %>
  </div>
</div>
