
<div class="offer">
  <% if @offer.photo.attached? %>
    <div class="image" style="background-image: url('<%= cl_image_path @offer.photo.key %>')"></div>
  <% else %>
    <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1645976417695-e76bf772b1bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80')"></div>
  <% end %>
  <div class="title box">
    <h1>
      <%= @offer.title %>
    </h1>
  <div class="flex">
      <div class="categories">
        <% @offer.categories.each do |category|%>
          <p><%= category.title %></p>
        <% end %>
      </div>
      <div>
        <% if user_signed_in? && (current_user.role == "admin" || current_user.role == "institution") %>
          <%= link_to "Destroy", offer_path(@offer), data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
            },
            class:"btn btn-info" %>
          <%= link_to "Edit", edit_offer_path(@offer), data: {
            turbo_method: :edit
            },
            class:"btn btn-info" %>
        <% end %>
      </div>
    </div>
    <%= @offer.url %>
  </div>
  <div class="description box">
    <%= @offer.description %>
  </div>
  <div class="about_us box">
    <h5>Über uns</h5>
    <%= @offer.about_us %>
  </div>
  <div class="box">
    <h5>Kontakt</h5>
    <div class="address">
      <div>
        <h6>Anschrift</h6>
        <%= @offer.address %>
        <%= @offer.postcode %>
      </div>
      <div>
        <h6>Email</h6>
        <%= @offer.email %>
      </div>
      <div>
        <h6>Telefon</h6>
        <%= @offer.phone %>
      </div>
    </div>
  </div>
  <div class="links">
    <h2>News des Anbieters</h2>
    <div class="liste">
      <% @articles.each do |article| %>
      <%= link_to article_path(article), class: "text" do%>
          <div class="post_card_two" style="width: 100%;">
            <% if article.photo.attached? %>
              <div class="post_photo_two" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path article.photo.key %>')">
              </div>
              <% else %>
              <div class="post_photo_two" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1645976417695-e76bf772b1bd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80')"></div>
            <% end %>
            <div class="post_card_text">
              <h3><%= article.title %></h3>
              <p>von <%= User.find(article.user_id).email %> | <%= article.created_at.to_date.strftime("%d-%m-%Y")%> </p>
              <h6><%= article.content.truncate(50)%></h6>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
