<div class="offer">
<% if @offer.photo.attached? %>
    <%= cl_image_tag @offer.photo.key, width: 400, height: 300, crop: :fill %>
 <% end %>
 <div class="title box">
 <h1>
  <%= @offer.title %>
 </h1>
<div class="categories">
<% @offer.categories.each do |category|%>
<p><%= category.title %></p>
<% end %>
</div>
<%= @offer.url %>
</div>
<div class="description box">
  <%= @offer.description %>
</div>
<div class="about_us box">
  <h5>Über uns</h5>
  <%= @offer.about_us %>
</div>
<div class="box">
<h5>Addresse</h5>
<div class="address">
  <div>
    <h6>Anschrift</h6>
    <%= @offer.address %>
    <%= @offer.postcode %>
  </div>
  <div>
  <h6>Email</h6>
  <%= @offer.email %>
  </div>
  <div>
  <h6>Telefon</h6>
  <%= @offer.phone %>
  </div>
</div>
</div>
<%= link_to "Destroy", offer_path(@offer), data: {
  turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
<%= link_to "Edit", edit_offer_path(@offer), data: {
  turbo_method: :edit
                  } %>
</div>
