<div class="adminOffer">
  <h1>Inaktive Posts</h1>
  <div class="cardList">
      <div class="cardOffer header one">
        <div class="cardText">
          <h4  class="cardTitle header">
            Titel
          </h4>
          <h4 class="header">
            Anbieter
          </h4>
          <h4 class="header">
            Datum
          </h4>
        </div>
        <div class="buttons header">
          <h4>
            Aktivieren
          </h4>
          <h4>
            Löschen
          </h4>
        </div>
      </div>
      <% @articles.where(status: "inactive").each do |article| %>
      <div class="cardOffer">
        <div class="cardText">
          <strong  class="cardTitle">
            <%= link_to article.title, article_path(article), class: "cardTitle", data: { turbo: false } %>
          </strong>
          <div class="">
            <%= article.user.email %>
          </div>
          <div class="">
          <%= article.created_at.to_date.strftime("%d-%m-%Y") %>
          </div>
        </div>
        <div class="buttons">
          <%= link_to "Aktivieren", toggle_status_article_path(article), class: "btn btn-info" %>
          <%= link_to "Löschen", article_path(article),class: "btn btn-info", data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
            } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
