<%= turbo_frame_tag "admin" do %>
  <div class="nav_admin">
    <%= link_to "Angebote", offer_board_path, class:"button_admin offer"%>
    <%= link_to "News", blog_board_path, class:"button_admin blog on" %>
    <%= link_to "User", user_board_path, class:"button_admin user" %>
    <div class="new_o"></div>
    <%= link_to "Neuer Post", new_article_path, class: "button_admin new_u", data: { turbo: false } %>
    <div class="new_u"></div>
  </div>
  <div class="container">
    <%= render "activeArticles" %>
    <%= render "inactiveArticles" %>
  </div>
<% end %>
