<%= turbo_frame_tag "admin" do %>
<div class="nav_admin">
  <%= link_to "Angebote", offer_board_path, class:"button_admin offer"%>
  <%= link_to "Blog", blog_board_path, class:"button_admin blog" %>
  <%= link_to "User", user_board_path, class:"button_admin user on" %>
  <div class="new_o"></div>
  <div class="new_b"></div>
  <%= link_to "Neuen User", new_user_path, class: "button_admin new_u", data: { turbo: false } %>

</div>
  <div class="container">
  <div class="admin-container">
    <h1>Inaktive Angebote</h1>
      <div class="cardListArticles">
          <div class="cardOffer header one">
            <div class="cardText">
              <h4  class="cardTitle header">
                Titel
              </h4>
              <h4 class="header">
                Author
              </h4>
              <h4 class="header">
                Datum
              </h4>
            </div>
            <% if current_user %>
              <% if current_user.role == "institution" || current_user.role == "admin" %>
              <div class="buttons header">
                <h4>
                  Löschen
                </h4>
              </div>
              <% end %>
            <% end %>
          </div>
          <% @users.each do |user| %>
          <div class="cardOffer">
          <div class="cardText">
          <strong  class="cardTitle">
            <%= user.email %>
          </strong>
          <div class="email">
            <%= user.email %>
          </div>
          <div class="date">
          <%= user.created_at.to_date.strftime("%d-%m-%Y") %>
          </div>
          </div>
          <% if current_user %>
            <% if current_user.role == "institution" || current_user.role == "admin" %>
              <div class="buttons">
                 <%= button_to "Delete", user_path(user),class: "btn btn-info", method: :delete %>
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <% if current_user %>
        <% if current_user.role == "institution" || current_user.role == "admin" %>
          <div class="new-article-link d-flex justify-flex-start">
            <%= link_to "Neuen User", new_user_path, class: "shiny_green", data: { turbo: false } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
