<%= turbo_frame_tag "admin" do %>
<div class="button">
  <%= link_to "Angebote", offer_board_path, class:"shiny shiny_orangy "%>
  <%= link_to "Blog", blog_board_path, class:"shiny shiny_pinky " %>
  <%= link_to "User", user_board_path, class:"shiny shiny_turquoisy chosen_t" %>
</div>
  <div class="container">
  <div class="admin-container">
      <div class="cardListArticles">
          <div class="cardOffer header one">
            <h4  class="cardTitle header">
              Titel
            </h4>
            <h4 class="header">
              Author
            </h4>
            <h4 class="header">
              Datum
            </h4>
            <% if current_user %>
              <% if current_user.role == "institution" || current_user.role == "admin" %>
              <div class="buttons header">
                <h4>
                  Löschen
                </h4>
              </div>
              <% end %>
            <% end %>
          </div>
          <% @users.each do |user| %>
          <div class="cardOffer">
          <strong  class="cardTitle">
            <%= user.email %>
          </strong>
          <div class="">
            <%= user.email %>
          </div>
          <div class="">
          <%= user.created_at.to_date.strftime("%d-%m-%Y") %>
          </div>
          <% if current_user %>
            <% if current_user.role == "institution" || current_user.role == "admin" %>
              <div class="buttons">
                 <%= button_to "Delete", user_path(user), method: :delete %>
              </div>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <% if current_user %>
        <% if current_user.role == "institution" || current_user.role == "admin" %>
          <div class="new-article-link d-flex justify-flex-start">
            <%= link_to "Neuen User", new_user_path, class: "shiny_green", data: { turbo: false } %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
