<div class="container">
  <div class="offer_form">
  <%= simple_form_for  user_session_path do |f| %>
    <%= f.input :email, placeholder: 'email' %>
    <%= f.input :password, placeholder: 'password' %>
    <%= f.input :password_confirmation, placeholder: 'password_confirmation' %>
    <%= f.submit class: "btn btn-dark" %>
  <% end %>
  </div>
</div>
